# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Angular / Ionic / Capacitor
/www/
/build/
/dist/
/android/
/ios/

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log

# Ignore nested git directories if present
frontend-app/.git
